.basket-section {
  &__content {
    &_empty {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
      padding: 80px 20px;
      text-align: center;
      background-color: $color-bg-light;
      border-radius: 8px;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    background: url('../../assets/icons/bag-icon.svg') center/cover;
  }
}
