.product-page {
  padding-bottom: 48px;

  &__container {
    @include container;
    display: flex;
    justify-content: flex-end;
    gap: 24px;

    @include laptop {
      flex-direction: column;
      align-items: center;
    }
  }
}
