.header {
  &__list {
    position: relative;
    display: flex;
    gap: 54px;
  }

  &__item {
    position: relative;
    display: inline-block;
    transition: all 0.2s ease;
    & > a,
    &:after {
      opacity: 0.5;
    }

    &:hover {
      &:after,
      & > a {
        opacity: 1;
      }
    }

    &_with-submenu {
      &:after {
        @include chevron;
        top: calc(50% - 10px);
        right: -20px;
        cursor: pointer;
      }

      &:hover {
        &:after {
          @include chevron;
          top: calc(50% - 10px);
          right: -20px;
          transform: rotate(-180deg);
          cursor: pointer;
        }
      }
    }

    & .dropdown-menu {
      padding: 12px 0;
      width: 140px;

      & .header__link {
        display: inline-block;
        width: 100%;
        padding: 12px 20px;

        &:hover {
          background-color: $color-gray;
        }
      }
    }
  }
}
