.form-field {
  display: flex;
  flex-direction: column;

  &__label {
    font: $font-label;
    color: $color-primary;
    margin-bottom: 8px;
  }

  &__input {
    padding: 16px 24px;
    font: $font-main;
    color: $color-primary;
    background: $color-white;
    border: 1px solid $color-white;
    border-radius: 6px;
    transition:
      color 0.3s ease-in-out,
      border 0.3s ease-in-out;

    &:focus,
    &:hover {
      border: 1px solid $color-border;
    }

    .valid-error & {
      border: 1px solid $color-error;
      color: $color-error;
    }

    &::placeholder {
      opacity: 0.4;
    }
  }

  &-password {
    position: relative;

    .form-field__input {
      padding-right: 46px;
    }
  }

  &__check {
    position: absolute;
    right: 24px;
    bottom: 19px;
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/visibility.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    &.password-visible {
      background-image: url('../../assets/icons/visibility-off.svg');
    }
  }
}
