.account-details {
  &__title {
    @include font-h3;
  }

  &__wrapp {
    margin-top: 24px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    background: $color-bg-card;
    border-radius: 8px;

    @include tablet {
      margin-top: 8px;
    }

    @include small-mobile {
      padding: 24px;
    }
  }

  &__edit-btn {
    margin-top: 32px;
    max-width: fit-content;
  }
}
