.form {
  background: $color-bg-card;
  border-radius: 8px;
  padding: 64px;
  display: flex;
  flex-direction: column;

  &--login {
    width: min(544px, 100%);
  }

  @include mobile {
    padding: 32px;
  }

  &__title {
    @include font-h2;
    margin-bottom: 12px;
  }

  &__subtitle {
    color: $color-secondary-60;
    margin-bottom: 32px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &-block {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

    @include tablet {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 24px;

    @include mobile {
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
