.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
  transition: all 0.2 ease;
  z-index: 100;

  & div {
    width: 100%;
    height: 2px;
    background-color: $color-primary;
    transition: all 0.3s ease;
  }

  &_opened {
    & > div {
      background-color: $color-logo;
    }

    & > div:nth-child(2) {
      opacity: 0;
    }

    & > div:nth-child(1) {
      transform: translateY(6.5px) rotate(-45deg);
    }

    & > div:nth-child(3) {
      transform: translateY(-6.5px) rotate(45deg);
    }
  }

  @include tablet {
    display: flex;
  }
}

body {
  position: relative;
  overflow-x: hidden;

  & .blur {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    overflow: hidden;
  }
}
