@import './libs/_reset.scss';
@import './base/_fonts.scss';

html,
body {
  height: 100%;
}

body {
  font: $font-main;
  background-color: $color-white;
  color: $color-primary;
  display: flex;
  flex-direction: column;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}
