.form-field {
  display: flex;
  flex-direction: column;

  &__label {
    font: $font-label;
    color: $color-primary;
    margin-bottom: 8px;
  }

  &__input {
    padding: 10px 24px;
    height: 48px;
    font: $font-main;
    color: $color-primary;
    background: $color-white;
    border: 1px solid $color-white;
    border-radius: 6px;
    transition:
      color 0.3s ease-in-out,
      border 0.3s ease-in-out;

    &:focus,
    &:hover {
      border: 1px solid $color-border;
    }

    &.valid-error {
      border: 1px solid $color-error;
      color: $color-error;
    }

    &::placeholder {
      opacity: 0.4;
    }

    &:disabled {
      opacity: 0.6;
      border: 1px solid $color-white;
    }
  }

  &-password {
    position: relative;

    .form-field__input {
      padding-right: 46px;
    }
  }

  &__check {
    position: absolute;
    right: 24px;
    top: 44.5px;
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/visibility.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    &.password-visible {
      background-image: url('../../assets/icons/visibility-off.svg');
    }
  }

  &__error {
    margin-top: 4px;
    font-size: 14px;
    color: $color-error;
  }

  &-checkbox {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;

    input {
      cursor: pointer;
    }

    .form-field__label {
      margin: 0 0 0 8px;
    }
  }

  &-country {
    &::after {
      content: '* currently, the shop only operates in the USA';
      color: $color-secondary-60;
      margin-top: 8px;
    }
  }

  &--hidden {
    display: none;
  }
}
