.login-page {
  display: flex;
  flex-direction: column;
}

.login-section {
  margin-bottom: 104px;

  @include mobile {
    margin-bottom: 80px;
  }

  &__container {
    @include container;
    display: flex;
    justify-content: center;
  }
}
