.basket-items {
  margin-bottom: 80px;

  &__container {
    @include container;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    &-head {
      text-align: left;
      font-size: 11px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 1.1px;
      text-transform: uppercase;
    }

    &-body {
      font: $font-label;
      text-transform: capitalize;

      &-row:last-child .basket-items__table-td {
        border: none;
      }
    }

    &-th {
      padding: 27.5px 0;
      border-bottom: 1px solid $color-border;
    }

    &-td {
      padding: 24px 16px 24px 0;
      border-bottom: 1px solid $color-border;

      &--remove {
        padding-right: 0;
        width: 80px;
      }
    }

    &-row:last-child .basket-items__table-td {
      border: none;
    }
  }

  &__product {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__image {
    &-wrapper {
      width: 132px;
      height: 83px;
      background: $color-bg-secondary;
      border-radius: 8px;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &--placeholder {
      background-image: url('../../assets/img/placeholder-image.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
  }

  &__price {
    color: $color-primary;

    &--old {
      text-decoration: line-through;
      color: $color-secondary-40;
    }

    &--new {
      color: $color-error;
    }
  }

  // TODO: Replace with a separate component which will be implemented in ISSUE #127.
  &__quantity {
    width: 107px;
    height: 43px;
    border-radius: 6px;
    background: $color-bg-light;
    display: flex;
    align-items: center;
    justify-content: center;
    font: $font-button;
  }

  &__remove {
    background: transparent;
    color: $color-primary;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2px;
    opacity: 0.6;
    padding: 0;
    width: 80px;

    &-icon {
      width: 15px;
      height: 15px;
      background-image: url('../../assets/icons/popup-close-icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: $color-secondary-60;
      left: 0;
      bottom: -4px;
      transition: width 0.2s ease-in-out;
    }

    &:hover,
    &:active {
      background: transparent !important;

      &::after {
        width: 0;
      }
    }
  }
}
