.breadcrumbs {
  &__container {
    @include container;
  }

  &__links {
    padding: 32px 0;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__current {
    font: $font-xs;
    color: $color-primary;
  }
}
