.product-list {
  padding: 48px 0;

  &__container {
    @include container;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    position: relative;

    @include laptop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include pre-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }

    &--loading {
      &::after {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateY(-50%);
        content: 'Loading';
      }
    }
  }

  &__empty {
    @include font-h4;
  }
}
