.link {
  font: $font-button;
  color: $color-button;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-button;
  transition:
    border 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &--arrow::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 8px;
    background-image: url('../../assets/icons/link-arrow.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
  }

  &:hover,
  &:active {
    color: $color-button-hover;
    border-bottom: 1px solid $color-bg-card;

    &::after {
      transform: rotate(45deg);
    }
  }
}
