.header {
  &__user {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__user-account {
    position: relative;
    height: 100%;
    transition: all 0.2s ease;

    &:hover > .user-account__title {
      opacity: 1;
    }

    .user-account {
      &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        opacity: 0.5;
      }

      &__icon {
        @include account-icon;
      }
    }

    .dropdown-menu {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      padding: 12px 20px 24px;

      &_opened {
        display: flex;
      }

      &__button {
        padding: 16px 40px;
        white-space: nowrap;
      }

      &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        gap: 8px;
        font: $font-button;
        color: $color-button;
        text-transform: capitalize;
        border-bottom: 2px solid $color-button;

        &__span {
          display: inline-block;
          width: 8px;
          height: 8px;
          background: url('../../../assets/icons/create-account-icon.svg') center/cover;
        }
      }
    }
  }

  &__user-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    border-left: 2px solid $color-border;
    gap: 4px;
    height: 100%;
    padding-left: 16px;

    .user-cart {
      &__icon {
        @include cart-icon;
      }

      &__counter {
        padding: 2px 8px;
        text-align: center;
        background-color: $color-gray;
        border-radius: 100%;
      }
    }
  }
}
