.product__slider {
  display: flex;
  flex-direction: column;
  width: calc(50% - 12px);
  gap: 24px;
  user-select: none;

  @include laptop {
    width: 80%;
  }

  @include mobile {
    width: 100%;
  }

  .swiper {
    width: 100%;

    &-list {
      display: flex;

      .swiper-slide {
        width: 25%;
        aspect-ratio: 3/2;
        opacity: 0.4;

        &-thumb-active {
          opacity: 1;
        }
      }
    }

    &-view {
      display: flex;

      .swiper-slide {
        width: 100%;
        aspect-ratio: 3/2;
      }
    }

    &-wrapper {
      width: 100%;
      display: flex;
    }

    &-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  &_modal {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 80vh;
    gap: 24px;
    user-select: none;
    z-index: 20;

    .swiper-view {
      max-height: 100%;
      width: 100%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}

.swiper-button {
  &-next,
  &-prev {
    opacity: 0.6;
    color: #ffffff;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }
}
